<head>
  <title>image_share</title>
</head>

<body>
  <h1>Welcome to Coursera!</h1>

  {{> hello}}
    
  <div class="container">
    {{>images}}
	</div>
</body>

<template name="hello">
  <button>Click Me</button>
  <p>You've pressed the button {{counter}} times.</p>
</template>

<template name="images">
<div class="row">
	{{#each images}}
  <div class="col-xs-12 col-md-3">
  	<div class="thumbnail">

  	 	<img class="js-image" src="{{img_src}}" 
  		alt="{{img_alt}}"/> 
  			
  		<div class="caption">
        	<h3>Thumbnail label</h3>
        	<p>description of the image</p>
     	</div>
     </div>
    </div> <!-- / col -->
  {{/each}}
</div> <!-- / row -->
  </template>
