<head>
  <title>Note manager</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
     
</head>

<body>
    <nav class="red">
      <div class="container">
        <div class="nav-wrapper">
          <a href="#" class="brand-logo">Note Manager</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
             {{#if currentUser}}
            <li class="nav-item">
                <a class="waves-effect waves-light btn modal-trigger" href="#addModal">add Note</a>
             </li>
                {{/if}}
                <li class="nav-item">
                    {{> loginButtons}}
                </li>
            </ul>
        </div>
      </div>
    </nav>
   
    <div class="container">
    <h1>Latest Notes</h1>
        {{#if currentUser}}
    <ul class="collection">
    {{#each notes}}
      {{> note}}
    {{/each}}
    
    </ul>
        {{else}}
        Please log in to manage notes
        
        {{/if}}
    </div>
    {{> add}}
    
    <script>
   $(document).ready(function(){
    $('.modal').modal();
  });
    
    </script>
</body>

<template name="note">
<li class="collection-item">
    {{text}} : <strong>Added by {{username}}</strong>
  <a href="#!" class="delete-note waves-effect waves-circle waves-light btn-floating secondary-content">
    <i class="material-icons">close</i>
  </a>
    
    </li>
</template>

<template name="add">

  <div id="addModal" class="modal">
    <div class="modal-content">
      <h3>Add Notes</h3>
        <form class="add-form">
        <input type="text" name="text" placeholder="Add Note">
        </form>
      
    </div>
   
  </div>


</template>




